:root {
  --french-gray: #b0acb0ff;
  --platinum: #e2dddfff;
  --tiffany-blue: #85ebd9ff;
  --dark-cyan: #3d898dff;
  --charcoal: #2f404dff;
  --TUI: #1b1b1b;

  /* Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  color: var(--charcoal);
  background-color: var(--platinum);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  background-color: var(--TUI);
  color: #00ff00;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--charcoal);
}

h1, h2 {
  border-bottom: 2px solid #00ff00;
}

button {
  background-color: #00ff00;
  color: var(--TUI);
  border: 1px solid #00ff00;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--TUI);
  color: #00ff00;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  border: 1px solid #00ff00;
  padding: 20px;
}

.main-content {
  display: flex;
}

.page-content {
  display: flex;
  padding: 12rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--charcoal);
    background-color: var(--platinum);
  }

  a:hover {
    color: var(--tiffany-blue);
  }

  button {
    background-color: var(--platinum);
  }

  .page-content {
    padding: 9rem 2rem 1rem 2rem;
  }
}