:root {
  --french-gray: #b0acb0ff;
  --platinum: #e2dddfff;
  --tiffany-blue: #85ebd9ff;
  --dark-cyan: #3d898dff;
  --charcoal: #2f404dff;
  --TUI: #1b1b1b;

  /* Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  color: var(--charcoal);
  background-color: var(--platinum);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--TUI);
  color: var(--charcoal);
  font-family: var(--font-family);
  min-height: 100vh;
}

/* Container principal */
.container {
  width: 100%;
  max-width: 1200px; /* Ajuste conforme necessário */
  padding: 20px;
  box-sizing: border-box;
}

/* Título principal */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--charcoal);
  border-bottom: 2px solid #00ff00;
}

/* Botões */
button {
  background-color: #00ff00;
  color: var(--TUI);
  border: 1px solid #00ff00;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: var(--TUI);
  color: #00ff00;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Conteúdo da página */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Ajuste do conteúdo da página */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* Ajuste o padding conforme necessário */
}
.button{
  font-family: 'sf pixelate', Courier, monospace;
}

/* Estilos responsivos */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--charcoal);
    background-color: var(--platinum);
  }

  a:hover {
    color: var(--tiffany-blue);
  }

  button {
    background-color: var(--platinum);
  }
}
