#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif, 'SF Pixelate';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1b1b;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
}

.main-content {
  display: flex;
}

@font-face{
  font-family: 'SF Pixelate';
  src: url('../../assets/font/SF\ Pixelate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
