.customTextField {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.3s ease-in-out;
  margin-bottom: 16rem;
}

.customTextField:focus-within {
  border-color: #8ddb8d;
  box-shadow: 3px 3px 0 #9eee9e;
}

.icon {
  transition: transform 0.3s;
  margin: 0 10px;
}

.icon:hover {
  transform: scale(1.1);
}

.icon:active {
  transform: scale(0.9);
}

.titleForm{
    margin: 16px;
    padding: 16px;
    text-align: center;
}
